PS C:\Users\Amin_Stors\Desktop\Ноhfesdeshjdgjvnbvngbвая папка\htmlНовая папка\Новая папка\Lashes_nurzhan> git add templates/record.html
PS C:\Users\Amin_Stors\Desktop\Ноhfesdeshjdgjvnbvngbвая папка\htmlНовая папка\Новая папка\Lashes_nurzhan> git commit -m "Полностью исправлен рекорд штмл"
On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        Lashes_nurzhan/templates/record.html

nothing added to commit but untracked files present (use "git add" to track)
PS C:\Users\Amin_Stors\Desktop\Ноhfesdeshjdgjvnbvngbвая папка\htmlНовая папка\Новая папка\Lashes_nurzhan> git add -m "удален копия рекорда и исправлен рекорд штмл"

error: unknown switch `m'
usage: git add [<options>] [--] <pathspec>...

    -n, --[no-]dry-run    dry run
    -v, --[no-]verbose    be verbose

    -i, --[no-]interactive
                          interactive picking
    -p, --[no-]patch      select hunks interactively
    -e, --[no-]edit       edit current diff and apply
    -f, --[no-]force      allow adding otherwise ignored files
    -u, --[no-]update     update tracked files
    --[no-]renormalize    renormalize EOL of tracked files (implies -u)
    -N, --[no-]intent-to-add
                          record only the fact that the path will be added later
    -A, --[no-]all        add changes from all tracked and untracked files
    --[no-]ignore-removal ignore paths removed in the working tree (same as --no-all)
    --[no-]refresh        don't add, only refresh the index
    --[no-]ignore-errors  just skip files which cannot be added because of errors
    --[no-]ignore-missing check if - even missing - files are ignored in dry run
    --[no-]sparse         allow updating entries outside of the sparse-checkout cone
    --[no-]chmod (+|-)x   override the executable bit of the listed files
    --[no-]pathspec-from-file <file>
                          read pathspec from file
    --[no-]pathspec-file-nul
                          with --pathspec-from-file, pathspec elements are separated with NUL character

PS C:\Users\Amin_Stors\Desktop\Ноhfesdeshjdgjvnbvngbвая папка\htmlНовая папка\Новая папка\Lashes_nurzhan> git push origin main
Everything up-to-date
PS C:\Users\Amin_Stors\Desktop\Ноhfesdeshjdgjvnbvngbвая папка\htmlНовая папка\Новая папка\Lashes_nurzhan> 